*.iml
*.ipr
*.iws
.idea/
/config/
/modules/
target/
*~
*.versionsBackup
*.DS_Store
OCSSW_LOG_install_ocssw.py.txt
ProcessingGUI_log_aabduraz.html
ProcessingGUI_log_aabduraz.txt
seadas-ocsswrest/hs_err_pid43749.log

# Seadas/IzPack installer related files and directories
seadas-installer/izpack-installer/target
seadas-installer/izpack-installer/src/main/izpack/packs/s3tbx/
seadas-installer/izpack-installer/src/main/izpack/packs/seadas/
seadas-installer/izpack-installer/src/main/izpack/packs/snap/
